.user-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-login__background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.svg__w {
  position: absolute;
  bottom: 0;
  left: 96px;
}

.svg__h {
  position: absolute;
  top: 48px;
  right: 96px;
}
